In [1]:
from sklearn.externals import joblib
import swifter
import pandas as pd

C:\Users\atti-001\Anaconda3\lib\site-packages\sklearn\externals\joblib\__init__.py:15: DeprecationWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=DeprecationWarning)

In [2]:
http = joblib.load('http_score.pkl')
dns = pd.read_csv('dns_score.csv')

In [3]:
def preprocessing(df,df2):
    df = df.copy().reset_index(drop=True)
#     df2 = df2.copy().reset_index(drop=True)

    df['phishing_attack'] = df['phish'].apply(lambda x :False if ('Not Phishing'== x[0].split(':')[2].replace('}','').strip()) else True )*1
    df['DGA'] =df['dga_http'].apply(lambda x :True if(x=='unsafe') else False )*1
    df['Bot_agent'] =df['bot'].apply(lambda x :x[0] *1)
    df = df[df[['phishing_attack','DGA','Bot_agent']].values.sum(axis=1) != 0] # 3X faster 
    df2['DGA'] =df2['dga_dns'].apply(lambda x :True if(x=='unsafe') else False )*1
    df2 = df2[df2['DGA'].values!=0]
    df = df[['id.orig_h','id.resp_h','phishing_attack','DGA','Bot_agent']]
    df2 =df2[['id.orig_h','id.resp_h','DGA']]

    return pd.concat([df,df2],axis=0,sort=True)

In [4]:
score_set= preprocessing(http,dns)

In [5]:
score_set = score_set[['id.orig_h','id.resp_h','phishing_attack','DGA','Bot_agent']].fillna(0)

In [9]:
anomaly_score = pd.read_csv('final_anomaly_score.csv')

In [10]:
pd.concat([score_set,anomaly_score])

C:\Users\atti-001\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,Bot_agent,DGA,conn_anomaly,dns_anomaly,http_anomaly,id.orig_h,id.resp_h,phishing_attack
800,1.0,0.0,NaN,NaN,NaN,172.16.2.211,59.188.29.87,0.0
802,1.0,0.0,NaN,NaN,NaN,172.16.2.211,59.188.29.87,0.0
1669,1.0,0.0,NaN,NaN,NaN,172.16.2.211,59.188.29.87,0.0
1670,1.0,0.0,NaN,NaN,NaN,172.16.2.211,59.188.29.87,0.0
2534,1.0,0.0,NaN,NaN,NaN,172.16.2.211,59.188.29.87,0.0
...,...,...,...,...,...,...,...,...
711,NaN,NaN,NaN,NaN,1.0,172.16.2.53,216.58.210.78,NaN
712,NaN,NaN,NaN,NaN,1.0,172.16.2.53,172.217.18.142,NaN
713,NaN,NaN,NaN,NaN,1.0,172.16.2.53,172.217.18.142,NaN
714,NaN,NaN,NaN,NaN,1.0,172.16.2.53,216.58.210.78,NaN
715,NaN,NaN,NaN,NaN,1.0,172.16.2.53,172.217.169.238,NaN

In [8]:
score_set.loc[(score_set['id.orig_h']=='172.16.2.211') |(score_set['id.resp_h']=='172.16.2.211') ]

            id.orig_h     id.resp_h  phishing_attack  DGA  Bot_agent
800      172.16.2.211  59.188.29.87              0.0    0        1.0
802      172.16.2.211  59.188.29.87              0.0    0        1.0
1669     172.16.2.211  59.188.29.87              0.0    0        1.0
1670     172.16.2.211  59.188.29.87              0.0    0        1.0
2534     172.16.2.211  59.188.29.87              0.0    0        1.0
...               ...           ...              ...  ...        ...
2558212  172.16.2.211       8.8.8.8              0.0    1        0.0
3916591  172.16.2.211       8.8.8.8              0.0    1        0.0
3916592  172.16.2.211       8.8.8.8              0.0    1        0.0
4011935  172.16.2.211       8.8.8.8              0.0    1        0.0
4011936  172.16.2.211       8.8.8.8              0.0    1        0.0

[10973 rows x 5 columns]